@use "../base/variables" as vars;

.switch {
  position: relative;

  &__input {
    display: none;

    &:checked + .switch__label {
      background-color: vars.$on-color;

      //knob!!!!
      &::after {
        transform: translate(50px, 0);
      }
    }

    &:checked + .switch__label .switch__bear {
      opacity: 1;
      transform: translate(-50%, 0); //here it goes up my bear
    }

    &__input:checked + .switch__label .switch__paw--left,
    &__input:checked + .switch__label .switch__paw--right {
      transform: translateY(0);
    }

    :checked + .switch__label {
      .switch__eyes-happy {
        opacity: 1;
      }

      .switch__eyes-angry {
        opacity: 0;
      }
    }

    :not(:checked) + .switch__label {
      .switch__eyes-happy {
        opacity: 0;
      }

      .switch__eyes-angry {
        opacity: 1;
      }
    }
  }

  &__label {
    display: block;
    width: 100px;
    height: 50px;
    background-color: vars.$off-color;
    border-radius: 50px;
    cursor: pointer;
    position: relative;

    // knob!!!!
    &::after {
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      width: 44px;
      height: 44px;
      background-color: vars.$knob-color;
      border-radius: 50%;
    }
  }

  &__bear {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    opacity: 0;
    transform: translate(-50%, 20px);
    transition: opacity 0.4s ease, transform 0.4s ease; //new feaure for transition!!
  }

  &__bear-head {
    background-color: rgb(92 61 46);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
  }

  &__ear {
    width: 20px;
    height: 20px;
    background-color: rgb(92 61 46);
    border-radius: 50%;
    position: absolute;
    top: -10px;

    &--left {
      left: -5px;
    }

    &--right {
      right: -5px;
    }
  }

  &__eyes-happy {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 30px;
    transition: opacity 0.3s ease;
  }

  &__eyes-angry {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 30px;
    transition: opacity 0.3s ease;
    opacity: 0;
  }

  &__eye {
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 50%;

    &--angry {
      transform: rotate(45deg) skewY(15deg);
      background-color: rgb(234, 56, 41);
    }
  }

  &__paw {
    width: 20px;
    height: 20px;
    background-color: rgb(92 61 46);
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    transition: transform 0.4s ease;

    &--left {
      left: 5px;
      transform: translateY(5px);
    }

    &--right {
      right: 5px;
      transform: translateY(5px);
    }
  }
}

.switch__bear--annoyed {
  background-color: #4a2e24;
}

.switch__bear--furious {
  background-color: #3b1a15;
  animation: shake 0.2s ease-in-out infinite;
}
