<form class="switch__form">
    <input class="switch__input" type="checkbox" id="bear-switch"/>
    <label class="switch__label" for="bear-switch" >
        <div class="switch__bear">
            <div class="switch__bear-head">
                <div class="switch__ear switch__ear--left"></div>
                <div class="switch__ear switch__ear--right"></div>
                <div class="switch__eyes">
                    <div class="switch__eye"></div>
                    <div class="switch__eye"></div>
                </div>
                <div class="switch__paw switch__paw--left"></div>
                <div class="switch__paw switch__paw--right"></div>
            </div>
        </div>
    </label>
</form>